<launch>
	
	<node pkg="centauri_motion" type="servo_controller.py" name="servo_controller" output="screen">
		<rosparam file="$(find centauri_motion)/params/Limit.yaml" command="load"/>
		<rosparam file="$(find centauri_motion)/params/Motion.yaml" command="load"/>
	</node>
	
	<node pkg="centauri_motion" type="dc_controller.py" name="dc_controller" output="screen">
		<param name="distance_limit" value="15"/>
		<param name="step" value="10"/> <!-- For Acceleration -->
		<param name="sleep" value="0.1"/> <!-- For Acceleration -->
	</node>
	
</launch>


